<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="index :: html_head"></head>

<body>
<div th:replace="index :: site_header"></div>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="me-3 text-center py-3">Movies</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-unstyled d-flex justify-content-center gap-3" th:each="movie: ${movies}">
                    <li class="py-3 px-5 border-bottom border-dark">
                        <a class="text-decoration-none text-dark" th:href="@{movies/{id}(id=${movie.getId()})}">
                            [[${movie.getTitle()}]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>

</html>